.navbar {
  height: 70px;
  width: 100%;
  background-color: rgb(87, 179, 195);
  margin-bottom: 25px;
}
.bttn {
  margin: 20px 20px;
  height: 30px;
  width: 70px;
  border: solid, 2px, rgb(182, 78, 25);
  background-color: rgb(241, 244, 236);
  color: rgb(182, 78, 25);
  font-weight: bolder;
}
h1 {
  color: rgb(182, 78, 25);
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.home h1 {
  color: red;
  margin: 300px 500px;
  font-size: 45px;
}
